name: ci

on: [push, pull_request]

permissions:
  contents: write
  packages: write

jobs:

  tests:
    strategy:
      matrix:
        name: [unit]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: test (${{ matrix.name }}, ${{ matrix.os }})
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Set up Go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Lint
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |-
          make fmtcheck staticcheck spellcheck

      - name: Run ${{ matrix.name }}-${{ matrix.os }} tests
        run: make test
