name: ci

on: [push, pull_request]

permissions:
  contents: write
  packages: write

jobs:

  tests:
    strategy:
      matrix:
        name: [unit]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: test (${{ matrix.name }}, ${{ matrix.os }})
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Lint
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |-
          make deps fmtcheck staticcheck spellcheck sec critic

      - name: Run ${{ matrix.name }}-${{ matrix.os }} tests
        run: make deps build test
